<h1> Edit question </h1>
<%= render 'shared/errors', obj: @question %>
<div class="container">
  <div class="row">
    <div class="col-md-4 mx-auto">
      <%= form_for(@question, :html => {class: "myform form",role: "form"}) do |f| %>
        <div class="form-group">
          <%= f.text_field :question,class: "form-control my-input", placeholder: "Question" %>
        </div>
        <div class="form-group">
          <%= f.label "Image(if any)",class: "form-control my-input" %>
          <%= f.file_field :avatar,class: "form-control my-input" %>
        </div>
        <div class="form-group">
          <%= f.number_field :subgenre_id,class: "form-control my-input", placeholder: "Subgenre Id" %>
        </div>
        <div class="form-group">
          <%= f.text_field :option1,class: "form-control my-input", placeholder: "Option1" %>
        </div>
        <div class="form-group">
          <%= f.check_box :check1,class: "form-control my-input", placeholder: "Option1 correct" %>
        </div>
        <div class="form-group">
          <%= f.text_field :option2,class: "form-control my-input", placeholder: "Option2" %>
        </div>
        <div class="form-group">
          <%= f.check_box :check2,class: "form-control my-input", placeholder: "Option2 correct" %>
        </div>
        <div class="form-group">
          <%= f.text_field :option3,class: "form-control my-input", placeholder: "Option3" %>
        </div>
        <div class="form-group">
          <%= f.check_box :check3,class: "form-control my-input", placeholder: "Option3 correct" %>
        </div>
        <div class="form-group">
          <%= f.text_field :option4,class: "form-control my-input", placeholder: "Option4" %>
        </div>
        <div class="form-group">
          <%= f.check_box :check4,class: "form-control my-input", placeholder: "Option4 correct" %>
        </div>
        <div class="text-center ">
          <%= f.submit "Submit", class: " btn btn-block btn-primary send-button tx-tfm" %>
        </div>
      <% end%>
    </div>
  </div>
</div>