<br>
<p> Your score is :  <%= current_user.cqscore %></p>
<%= form_for :arr, controller: "takequiz", action: "next", method: "post", class: "form-horizontal" do |form| %>
    <div class="well bs-component">
      <div class="container-fluid">
        <h2><%= @question.question.html_safe %></h2>
        <br>
        <% if @question.avatar.attached? %>
          <% if @question.avatar.variable? %>
            <%= link_to(image_tag(@question.avatar.variant(resize: "200x200")), rails_blob_path(@question.avatar, disposition: "avatar"))%>
          <% else %>
            <%= link_to "Download file", rails_blob_path(@question.avatar, disposition: "avatar") %>
          <% end %>
        <% end %>
        <div class="form-group">
          <div class="checkbox">
            <label>
              <%= form.check_box('[1]') %>  <%= @question.option1 %>
            </label>
          </div>
        </div>
        <div class="form-group">
          <div class="checkbox">
            <label>
              <%= form.check_box('[2]') %>  <%= @question.option2 %>
            </label>
          </div>
        </div>
        <div class="form-group">
          <div class="checkbox">
            <label>
              <%= form.check_box('[3]') %>  <%= @question.option3 %>
            </label>
          </div>
        </div>
        <div class="form-group">
          <div class="checkbox">
            <label>
              <%= form.check_box('[4]') %>  <%= @question.option4 %>
            </label>
          </div>
        </div>
      </div>
    </div>
    <div style="text-align: center;">
      <% if @last %>
          <%= form.submit "Submit", :name => nil, type: "submit", class: "btn btn-lg btn-success btn" %>
      <% else %>
          <%= form.submit "Next", :name => nil, type: "submit", class: "btn btn-lg btn-primary btn" %>
      <% end %>
    </div>
<% end %>